
#symmetry-diagram {
    display: inline-block;
    user-select: none;
    
    
}

#container {
    margin: 100px;
}


.symmetry-diagram-row {
    display: flex;
    align-items: center; 
    margin-bottom: 2px;
}

.symmetry-diagram-cell {
        width: 54;
        height: 54px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        border: 1px solid black;   
        aspect-ratio: 1 / 1;
        padding: 0;
        margin: 0;
        position: relative;
        box-sizing: border-box; 
        cursor: pointer;
        user-select: none;
}


.container {
    display: inline-block;
    position: relative;
    padding: 50px
}



.symmetry-diagram-frame-cell {
        width: 54px;
        height: 54px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        font-size: 1.2em;
        aspect-ratio: 1 / 1;
        padding: 0;
        margin: 0; /* Ensure no margins */
        position: relative;
        box-sizing: border-box;
        
        
         
}



.symmetry-diagram-left-frame-cell {
    margin-right: 5px; 
}
.symmetry-diagram-right-frame-cell {
    margin-left: 5px;
}





.symmetry-diagram-top-frame-cell {
    margin-bottom: 5px;
}
.symmetry-diagram-bottom-frame-cell {
    margin-top: 5px;
}





.symmetry-diagram-frame-top-label-cell {
    border-bottom: 2px solid #d1d5db;
    
}

.symmetry-diagram-frame-left-label-cell {
    border-right: 2px solid #d1d5db;
    
}

.symmetry-diagram-frame-bottom-label-cell {
    border-top: 2px solid #d1d5db;
    
}

.symmetry-diagram-frame-right-label-cell {
    border-left: 2px solid #d1d5db;
    
}

.octal-index {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 8px;
    color: #1a1a80;
    padding-right: 1px;
    
}

.top-label-cell {
    width: 20px;
    aspect-ratio: 1 / 1;
    border-bottom: 2px solid black;
    
}

.left-label-cell {
    border-right: 2px solid black;
    
}

.bottom-label-cell {
    border-top: 2px solid black;
}

.right-label-cell {
    border-left: 2px solid black;
}


